.page--agenda {
	// overflow: hidden;
	--width: 1262px;
}

.day--agenda {

}

.sessions__column {
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
		/* For smooth scrolling on iOS */
}

.track__session {
	width: var(--width);

	table {
			width: 100%;
	}

	.session__wrapper {
		min-height: 100px;
		display: block !important;
	}
}

.tracks__container {
	position: absolute;
	width: 1183px;
	top: 0;
	transition: all 0.4s ease-in-out;
}

.sticky {
	position: fixed;
	top: 0;
	padding-top: 80px;
	width: 1180px;
	z-index: 90;

	.track__title {
		box-shadow: 2px 5px 10px rgba(0,0,0,0.2);
	}
}

.time__tag {
	transform: translateY(-30px);
	z-index: 1;
	position: relative;
	transition: all 0.2s ease-in-out;
}

.time__track {

	position: relative;

	.line {
		height: 1px;
		background: #fece00;
		width: 1262px;
		display: block;
		transform: translateY(-47px);
		z-index: 0;
	}
}

.sessions__column {
	width: 100%;
	position: relative;
}

.track__session {
	display: grid;
	grid-template-columns: 70px repeat(5, 1fr);
	// grid-template-rows: repeat(10, 120px);
	grid-gap: 10px;
	margin-top: 100px;
}

.cell {
	border: 1px solid #000;
	/* Optional: Adds a border to the cells */
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 14px;
}

.cell-5 {
	grid-row: 3 / 4;
	grid-column: 3/4;
}

.sponsor__section {
	// display: flex;

	.sponsor--logo-wrapper {
		text-align: center;
		max-width: 200px;
		margin: 0 auto;

		.sponsor--logo {
			width: 100%;
		}
	}


}
